Checks:          '-*,
                  clang-diagnostic-*,
                  clang-analyzer-*,
                  bugprone-*,
                  cert-dcl50-cpp,
                  cert-env33-c,
                  cert-err34-c,
                  cert-err52-cpp,
                  cert-err60-cpp,
                  cert-flp30-c,
                  cert-msc50-cpp,
                  cert-msc51-cpp,
                  cppcoreguidelines-*,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -cppcoreguidelines-pro-type-union-access,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-avoid-magic-numbers,
                  misc-*,
                  modernize-*,
                  performance-*,
                  readability-*,
                  -readability-named-parameter,
                  -modernize-use-trailing-return-type,
                  -readability-braces-around-statements,
                  -readability-else-after-return,
                  -google-build-*,
                  -bugprone-easily-swappable-parameters,
                  -misc-no-recursion,
                  -misc-redundant-expression,
                  -modernize-use-nodiscard,
                  -misc-non-private-member-variables-in-classes,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -readability-uppercase-literal-suffix,
                  -cppcoreguidelines-pro-bounds-constant-array-index,
                  -cppcoreguidelines-pro-type-const-cast,
                  -cppcoreguidelines-owning-memory,
                  -readability-magic-numbers,
                  -cppcoreguidelines-special-member-functions,
                  -modernize-avoid-c-arrays,
                  -cppcoreguidelines-avoid-c-arrays,
                  -readability-convert-member-functions-to-static'

FormatStyle:     file
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: "true"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"
