body {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

a:link {
    color: hsl(0, 0%, 90%);
}

a:visited {
    color: hsl(0, 0%, 90%);
}

code, pre {
    font-family: "Inconsolata", "Fira Mono", monospace;
}

.symbol {
    font-family: "Latin Modern Math", "DejaVu Sans", sans-serif;
}

.nav-left {
    position: fixed;
    width: 14rem;
    height: calc(100% - 1ex);
    overflow-y: scroll;
    background-color: hsl(0, 0%, 15%);
}

.main-content {
    margin-left: 17rem;
}

.element {
    padding-left: 8px;
    border-left: 4px solid hsl(0, 0%, 10%);
    max-width: 50rem;
}

:target ~ .element {
    border-left: 4px solid hsl(278, 40%, 30%);
}

.element-group {
    margin-bottom: 2rem;
}

.element-header {
    display: flex;
    background-color: hsl(0, 0%, 25%);
    padding: 4px;
}

.element-description {
    margin-top: 1rem;
}

.element-signature {
    flex-grow: 1;
    font-size: 1.1rem;
    margin: 4px;
}

.element-signature > code {
    display: block;
}

.element-signature-name {
    font-weight: bold;
    white-space: nowrap;
}

.element-signature-argument {
    font-style: italic;
}

.element-signature-default-expr {
    color: hsl(0, 0%, 70%);
}

.element-signature-argument-keyword {
    color: hsl(278, 60%, 80%);
}

.element-signature-container {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: 0.5em;
}

.element-signature-argument-container {
    display: inline-block;
    margin-left: 2em;
    text-indent: -2em;
}

.element-kind {
    float: right;
    color: hsl(0, 0%, 80%);
    font-style: italic;
    font-size: 0.9rem;
    margin: 4px;
}

.code {
    background-color: hsl(0, 0%, 5%);
    padding: 4px;
    margin: 0px;
}

.example {
    background-color: hsl(0, 0%, 15%);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.example-header {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.evaluates-to {
    margin-left: 2rem;
    font-style: italic;
}
