body {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
}

a:link {
    color: hsl(0, 0%, 90%);
}

a:visited {
    color: hsl(0, 0%, 90%);
}

.nav-left {
    position: fixed;
    width: 14rem;
    height: calc(100% - 1ex);
    overflow-y: scroll;
    background-color: hsl(0, 0%, 15%);
}

.main-content {
    margin-left: 17rem;
}

.element {
    padding: 8px;
    border-left: 4px solid hsl(0, 0%, 10%);
    max-width: 50rem;
}

.element:target {
    border-left: 4px solid hsl(278, 40%, 30%);
}

.element-header {
    display: flex;
    background-color: hsl(0, 0%, 25%);
    padding: 4px;
    margin-bottom: 1rem;
}

.element-signature {
    flex-grow: 1;
    font-size: 130%;
    margin: 4px;
}

.element-signature > code {
    display: block;
}

.element-signature-name {
    font-weight: bold;
}

.element-signature-argument {
    font-style: italic;
}

.element-signature-default-expr {
    color: hsl(0, 0%, 70%);
}

.element-signature-argument-keyword {
    color: hsl(278, 60%, 80%);
}

.element-kind {
    float: right;
    color: hsl(0, 0%, 80%);
    font-style: italic;
    font-size: 90%;
    margin: 4px;
}
